{% extends 'base.html' %}

{% block content %}
<p>
    {% if request.user == advertisement.author %}
        <a href="{% url 'board:edit_advertisement' pk=advertisement.pk %}">Редактировать</a>

    {% endif %}
</p><hr>
<span style="color: green; size:10px; font-style: italic;">автор: {{ advertisement.author.username}}</span>
<h1>{{ advertisement.title }}</h1>
<p>{{ advertisement.content }}</p>
{% if advertisement.img %}
    <p><img src="{{ advertisement.img.url}}"></p>
{% endif %}

<hr>
 {% if request.user == advertisement.author %}
<a href="{% url 'board:delete_advertisement' pk=advertisement.pk %}">Удалить объявление</a>
 {% endif %}
{% endblock %}